
.btn {
    border: 2px solid #ffffff00;
    color: #ffffff;
    border-radius: 50px;
    background-color: #68d02b;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
}

.btn2 {
    border: 2px solid #ffffff00;
    color: #ffffff;
    border-radius: 50px;
    background-color: #4cd02b;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    width: fit-content;
}

.lnk-btn{
    cursor: pointer;
}

.lnk-btn:hover{
    text-decoration: underline;
}