// Font Sizes
.fs12 { font-size: rem(12px); }
.fs14 { font-size: rem(14px); }
.fs18 { font-size: rem(18px); }
.fs20 { font-size: rem(20px); }
.fs24 { font-size: rem(24px); }
.fs28 { font-size: rem(28px); }
.fs30 { font-size: rem(30px); }


/* BG ***********************************/

.bg-01 {
    background-color: #EFF1F7;
}

.bg-02 {
    background-color: #c58181;
}

.bg-03 {
    background-color: rgb(146, 127, 255);
}

.bg-04 {
    background-color: rgb(0, 255, 34);
}

.bg-deep-blue{
    background-color: $bg-deep-blue;
}

.bg-07 {
    background-color: $bg-light;
}

.pad-1rem{
    padding-left: 1rem;
    padding-right: 1rem;
}

.pad-2rem-l{
    padding-left: 2rem;
}