.outter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
}

// .outter-container2 {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     // background-image: url("../img/bg-boost-desktop.svg");
//     background-size: cover;
//     background-color: #3a3054;
//     height: 250px;
// }

.outter-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ff0000;
    // background-color: #232127;
    height: 310px;
}

.inner-container {
    width: 1696px;
    padding-left: 100px;
    padding-right: 100px;
}

.ra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    align-items: center;
}

.rb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ca {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 1rem;
}

.cb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: space-between; */
    /* align-items: center; */
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.main-container {
    padding: 1rem;
    width: 100%;
    background-color: $bg-light;
    min-height: 700px;
}

.footer {
    margin-top: 50px;
    background-color: #f7f7f7;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #dddddd;
}

.login-input {
    padding: 7px;
    background-color: #ffffff;
    border: 0;
    border-bottom: 2px solid #dba1d2;
    // width: 40%;
    margin-top: 10px;
    // font-size: 14px;
}
