.inactive {
    color: #008cff !important;
    text-decoration: none;
}

.active {
    color: rgb(109, 53, 0);
    text-decoration: none;
}

.nav-override-color {
    color: #00ff9d !important;
    text-decoration: none;

}
