.side-bar {
    background-color: #080056;
    width: 256px;
    color: #ffffff;
    height: 600px;
    text-align: left;
    padding-top: 3rem;

    .title {
        color: #3223a7;
        padding-left: 30px;
    }
}