.topBar {
  width: 1184px;
  height: 140px;
  margin: 0 0 20px 10px;
  padding: 32px 30px 32px 63px;
  background-color: #f8f9fd;
}
.Clock-inout {
  width: 113px;
  height: 50px;
  margin: 24px 179px 16px 0;
  font-family: FiraSans;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.15px;
  text-align: left;
  color: #7d7dad;
}

.search {
  width: 422px;
  height: 40px;
  margin: -40px 40px 40px 230px;
  padding: 8px 272px 8px 20px;
  border-radius: 100px;
  border: solid 2px #000000;
  display: block;
}

h1 {
  color: #000000;
}
