.userandrole {
  // height: 128px;
  // margin: 0 0 10px;
  // padding: 32px 30px 32px 63px;
  background-color: #4768ee;
}

.text {
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.15px;
  color: #8d8d9b;
  margin: 24px 700px 16px 0;
}

.search {
  min-width: 422px;
  min-height: 40px;
  // margin: -44px 50px 20px 160px;
  padding: 8px 272px 8px 20px;
  border-radius: 100px;
  border: solid 2px #dbdff1;
}
.username {
  width: 86px;
  height: 17px;
  margin: 14px 14px 20px 21px;
  font-family: FiraSans;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.25px;
  text-align: right;
  color: #080505;
}
