// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$text-dark: #383874;
$text-light: #fefeff;

$bg-dark: #343a3f;
$bg-light: #f8f9fd;
$bg-deep-blue: #080056;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;