.table-head {
    display: grid;
    grid-template-columns: 38% 32% 30%;
    font-weight: bold;
}

.table {
    display: grid;
    grid-template-columns: 38% 32% 30%;
}

.table-head2 {
    display: grid;
    grid-template-columns: 10% 28% 32% 30%;
    font-weight: bold;
}

.table2 {
    display: grid;
    grid-template-columns: 10% 28% 32% 30%;
}

.tc {
    padding: 5px;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 1px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}
.tch {
    padding: 5px;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 1px;
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid #e6e6e6;
}