.table-head {
    display: grid;
    grid-template-columns: 38% 32% 30%;
    font-weight: bold;
}

.table {
    display: grid;
    grid-template-columns: 38% 32% 30%;
}

.table-head2 {
    display: grid;
    grid-template-columns: 10% 28% 32% 30%;
    font-weight: bold;
    background-color: #ffffff;
}


.table-wrapper{
    border: 1px solid #E5E5F0;
    border-radius: 32px;
    background-color: #ffffff;
    padding:32px;
}

.table2 {
    display: grid;
    grid-template-columns: 10% 28% 32% 30%;
}

.tc {
    padding: 5px;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 1px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}
.tch {
    padding: 5px;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 1px;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
}