.pillars-strip {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
    grid-gap: 25px;
    margin-bottom: 2rem;
}

.pillar {
    height: 258px;
    padding: 32px 27px;
    border-radius: 32px;
    background-color: #ffffff;
    filter: drop-shadow(0 0 0.5rem #ececec);
}
