.profile-right {
    background-color: #ffffff;
    width: 72%;
    min-height: 470px;
    padding: 32px;
    border-radius: 32px;
    border: solid 1px #e5e5f0;
}

.profile-left {
    background-color: #ffffff;
    width: 25%;
    min-height: 650px;
    padding: 32px;
    border-radius: 32px;
    border: solid 1px #e5e5f0;
}

.side-bar-title {
    p {
        color: #383874;
        size: 30px;
    }
}
